header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                span HOME
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) JOIN
                    li
                        a(href=routes.login) LOGIN
                else
                    li
                        a(href=routes.userDetail) PROFILE
                    li
                        a(href=routes.logout) LOGOUT