header.header
    .header__menu-links
    ul.header__toggle-menu
        if !loggedUser
            li
                a.header__anchor(href=routes.home) HOME
            li
                a.header__anchor(href=routes.join) JOIN
            li
                a.header__anchor(href=routes.login) LOGIN
        else
            li
                a.header__anchor(href=routes.home) HOME
            li
                a.header__anchor(href=routes.me) PROFILE
            li
                a.header__anchor(href="#") MARKET
            li  
                a.header__anchor(href=routes.logout) LOGOUT